
.block {
  background-color: #ca63eb;
  height: 100%;

  h1 {
    color: deepskyblue;
    font-size: 5vh;
  }
}

.main_head {
  background-color: #dc5353;
  text-align: center;
  font-weight: bold;
  font-size: 10vh;

  & {
    images {
      background-color: yellow;
    }
  }
}

.text_info {
  background-color: #c3c364;
  font-weight: bold;
  white-space: pre-wrap;
}

.avatarList {
  background-image: url("../pages/images/ava-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  border: 3px solid #c5e614;
  padding: 10px;
}
.avatarListDisabled {
  opacity: .5;
  background-image: url("../pages/images/ava-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  border: 3px solid #eb0f0f;
  padding: 10px;
}

.avatarList:hover {
  cursor: pointer;
  background-color: #dcd7d7;
}

.avatarListBorder {
  border: 2px solid #c5e614;;
}