
.block {
  background-color: #ca63eb;
  height: 20vh;

   h1 {
      color: deepskyblue;
      font-size: 5vh;
    }
}

.main_head {
  background-color: #dc5353;
  text-align: center;
  font-weight: bold;
  font-size: 10vh;

   & {
     images {
       background-color: yellow;
     }
   }
}
.text_info {
  background-color: #c3c364;
  font-weight: bold;
  word-wrap: break-word;
}
.positions_geo {

}