.header{
  height: 100px;
  background: #b72828;
}

.headerIMG {
  background-image: url("../pages/images/generalPage/Rectangle 29.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 650px;
  width: 1170px;
}

