.header {
  background: #b72828;
}

.general__block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;

  &__firstBlock{
    height: 800px;
  }

  &__secondBlock{

    height: 750px;
  }

  &__titleGetRequest{
    width: 1183px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  &_BTN {
    position: absolute;
    margin-left: auto;
    margin-top: -5px;
    right: 30px;

    &__SignUp{
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 2rem;
    }

    button {
      margin-left: auto;
      right: 20px;
      background-image: linear-gradient(144deg, #AF40FF, #bf9b17 50%, #c0bc1c);
    }

  }

  &__headerIMG {
    position: absolute;

    &__AllText{
      margin-left: auto;
      margin-right: auto;
      margin-top: 13%;
      width: 18em
    }
    background-image: url("../pages/images/generalPage/Rectangle 29.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 750px;
    width: 1170px;


    &_textHEADER {

      width: 380px;
      height: 80px;
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 40px;
      margin: 20px;
      color: #FFFFFF;
    }

    &_textLogan {
      width: 380px;
      height: 156px;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      order: 1;
      flex-grow: 0;
    }
  }
  
  
  &__users {
    position: relative;
    width: 100%;
    min-height: 575px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    &__user{
      text-align: center;
      padding: 20px;
      height: 255px;
      border: 20px solid #f8f8f8;
      float: left;
      width: calc(33.333333% - 20px);
      margin: 0 10px 20px 10px;
      font-style: normal;
      font-weight: 550;
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.87);

      img{
        border-radius: 50%;
      }
    }
    
    &__btn{
      text-align: center;
    }
  }

}

.textStyleSheet {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  font-family: "Arial Rounded MT Bold, Arial", cursive;
}


