
.navbar {
    background-color: #6f6f69;
    padding: 10px;
    text-decoration: none;
    min-width: 100%;
}

@media screen and (min-width: 375px) {
    .navbar {
        width: 900px;
    }
}

.link {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

.error {
    text-align: center;
    font-size: 10vh;
    margin-top: 15%;
    background-color: #df1147;
}

.title {
    background-color: #191616;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;

}

.listItem {
    background-color: #909085;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}


.listItem img {
    height: 150px;
    width: 200px;
    border: 2px solid darkred;
    border-radius: 20px;
}

.listItem img:hover{
    opacity: .5;
}

.price {
    font-weight: bold;
    font-size: 1rem;
}
.rating{
    color: #e3f20b;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}