.navbar {
    background-color: #d9d10f;
    padding: 10px;
}
.main_page {
    z-index: 0;

}

.link {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

.error {
    text-align: center;
    font-size: 10vh;
    margin-top: 15%;
    background-color: #df1147;
}